html {
  font-size: 62.5%;
}

body {
  font-family: League Spartan, Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: flex;
  background: url(../images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 330px;
  padding-bottom: 20px;
  padding-top: 40px;
}
.product-review {
  margin-bottom: 10px;
}

.product-review {
  padding: 30px;
  padding-bottom: 0%;
  text-align: center;
  margin: 0;
  line-height: 1;
  color: hsl(300, 43%, 22%);
}

.product-review p {
  padding: 20px;
  color: hsl(303, 10%, 53%);
  text-align: center;
  margin: 0%;
  line-height: 1.5;
}

.ratings {
  margin-bottom: 20px;
  text-align: center;
  padding: 15px;
  padding-bottom: 0;
  border-radius: 10px;
  background-color: hsl(300, 24%, 96%);
}

.ratings p {
  padding-bottom: 10px;
  margin-top: 10px;
  color: hsl(300, 43%, 22%);
  font-weight: 600;
}
